<div class="container mt-5 pt-3">
  <div *ngIf="commentsArray && commentsArray.length>0">
    <div *ngFor="let comment of commentsArray; let i = index">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
          <img [src]="comment.image" height="200" alt="image not found">
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
          {{comment.autorName}}
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
          {{comment.date | date}}
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
          {{comment.comment}}
          <div (click)="reply(i)">
            Reply
          </div>
          <div class="form-group" *ngIf="openCommentbox">
            <form [formGroup]="commentForm">
              <div class="form-group">
                <textarea type="text" class="form-control m-input" placeholder="Enter the Comment"
                  formControlName="comment"></textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="addComments()">
                  AddReply
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="!openCommentbox">
    <form [formGroup]="commentForm">
      <div class="form-group">
        <textarea type="text" class="form-control m-input" placeholder="Enter the Comment"
          formControlName="comment"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="addComments()">
          AddReply
        </button>
      </div>
    </form>
  </div>

</div>

<router-outlet></router-outlet>
